@use "../../partials/mixins" as *;

.piano {
    display: flex;
    justify-content: center;

    &__note {
        border: 1px solid black;

        &:hover {
            background-color: lightgrey;
        }
        &:active {
            background-color: yellow;
        }

        &--white {
            background-color: white;
            width: 3rem;
            height: 11rem;
            color: red;
            text-align: center;
            margin: -2px;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include tablet {
                width: 6rem;
                height: 22rem;
            }
        }
        &--black {
            background-color: black;
            width: 2rem;
            height: 6rem;
            margin-left: -1rem;
            margin-right: -1rem;

            z-index: 1;
            color: red;
            text-align: center;

            @include tablet {
                width: 4rem;
                height: 12rem;
                margin-left: -2rem;
                margin-right: -2rem;
            }
        }
        &--active {
            background-color: yellow;
        }
    }
}

.keyboard {
    width: 40%;
    margin: 4rem 0 0 0;
}

select {
    margin: 0 0 1rem 0;
    width: 30%;
    padding: 0.3rem;
    border-radius: 7px;
}
